---
interface Props {
	colorbtnText: string;
    bgcolor: string;
    textColor: string;
    cursor: string;
    display: string;
    classname: string;
}

const { colorbtnText, bgcolor, textColor, cursor, display, classname } = Astro.props;
---

<button class=`branding-stroke-button inline-flex gap-3 items-center self-start fotnt-[Atkinson Hyperlegible] ${classname}` style=`background-color: ${bgcolor}; color: ${textColor}; cursor: ${cursor};`>
    { colorbtnText }
</button>

<style>
    .branding-stroke-button{
        font-family: Instrument Sans;
        font-size: 15px;
        font-weight: 600;
        line-height: 18.52px;
        text-align: left;
        padding: 12px 20px 12px 20px;
    }
</style>