---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../../form.css"
const currentUrl=Astro.request.url;

const services_data = [
	{ title: "Airport<br> Capabilities", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>Whether your requirement is for IT professionals, customer support specialists or project-based Statement of Work, our team of experts are equipped with the niche skill sets desired by all major airport.</li><br><br> <li>Our powerful combination of consulting and product expertise provides clients with end-to-end technology driven enterprise‐wide business solutions.</li>", url: "/services/services_image1.webp", link : "/services/airport-capabilities"},
	{ title: "Transportation<br> Capabilities", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>Our technical expertise in the transportation vertical includes AI, Safety, Data, and Digital Services. We focus on tolling, roadway, trucking, airports, railways, and mobility.</li><br><li>We ensure that your organization keeps people—and the things people rely on moving.</li><br><li>SPI seamlessly integrates People, Processes, and Technology to deliver innovative results.</li></ul>", url: "/services/services_image7.webp", link : "/services/transportation-capabilities"},
	{ title: "Application<br> Management", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>We integrate our processes with our clients to streamline efforts and meet project parameters.</li><br><li>We provide seamless, end-to-end management across an enterprise.</li><br><li>Our depth of experience in many industries combined with technical excellence makes SPI the right choice for your application management needs.</li></ul>", url: "/services/services_image8.webp", link : "/services/application-management"},
	{ title: "Digital<br> Transformation", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>We at SPI can help you in your digitization journey and ensure that your organization embraces all the technology-enabled changes.</li><br><li>We unlock productivity gains, and put your business at the forefront of the digital disruption for a competitive advantage.</li>", url: "/services/services_image5.webp", link : "/services/digital-transformation"},
	{ title: "Business<br> Intelligence /<br> Analysis", description: "Business Intelligence solutions are expected to accelerate business growth by enabling faster, more accurate decisions. It is supposed to reduce time-to-market. Organizations expect a culture of innovation through access to right information at the right time.", url: "/services/services_image4.webp", link : "/services/business-intelligence"},
	{ title: "Enterprise<br> Infrastructure", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>Our IT infrastructure consultants offer swift response, maximum efficiency, and assured accuracy.</li><br><li>As a project begins, we integrate processes with our clients to simplify efforts.</li></ul> ", url: "/services/services_image2.webp", link : "/services/enterprise-infrastructure"},
	{ title: "IT<br> Staffing", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>SPI offers a flexible service to meet all your IT staffing requirements. Do you want help in a hurry?</li><br><li>One call to SPI and we come to your aid. With SPI’s Quick Start we supply qualified, certified, experienced resources within 48 hours.</li>", url: "/services/services_image3.webp", link : "/services/it-staffing"},
	{ title: "Professional<br> Services", description: "<ul style='list-style-type:disc; padding-left: 1rem;'><li>Digitizing MWBE forms</li><br><li>Data Migration, Integration and Visualization a Cloud Solution</li><br><li>Employee Performance tracking  and Claims management System</li><li>Weather Monitoring and Reporting</li><br><li>GIS - Engineering Asset management and Change Management plan</li><br><li>Server Consolidation</li><br><li>Functional specifications documentation for migration to new technology</li>", url: "/services/services_image6.webp", link : "#"},
]

---


<Header title="Services" canonical={currentUrl} >
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 75px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.03em;
            text-align: left;
			color: white;
		}
		.site-title-layer {
			background-size: cover;
			background-color: #000000;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 44px;
                line-height:60.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 pt-20 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-start justify-start lg:border-b-[1.5px] pb-16 border-[#FFFFFF33]">
                <h6 class="service_shrt text-start mb-5">
                    SERVICES
                </h6>
				<h1 class="home_title text-start mb-5">
					<span class="lg:block inline">Expert Services to </span><span class="text-[#B5DB00]">Drive Digital Transformation</span> and Business Success
				</h1>
				<h6 class="home_description flex-none text-start">
					At SPI, we offer a comprehensive range of IT services designed to meet your business needs. From expert consulting to flexible staffing solutions, our team delivers the strategies and talent to optimize your operations.
				</h6>
			</div>
		</div>
		<section>
			<!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pb-28 lg:pt-16 bg-[#000000] lg:py-0 py-12">
				<div class="inner-layer-innovator grid lg:grid-cols-3 gap-8">
                        {
                            services_data.map((data, dataIndex) => (
								<a href={ data.link } target="_blank">
									<div class="px-8 py-12 min-h-[495px] flex flex-col justify-between relative group mb-5 overflow-hidden bg-white">
										{/* <div class="services-title z-[20] z-[20]">Application<br> Management</div> */}
										<div class="z-[20] flex justify-between items-center pb-5">
											<div class="services-title lg:group-hover:text-white lg:text-[#000000] text-white transition ease-in-out delay-150 duration-300 flex-1" set:html={data.title}></div>
											<svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M2 10.5C1.17157 10.5 0.5 11.1716 0.5 12C0.5 12.8284 1.17157 13.5 2 13.5L2 10.5ZM25.0607 13.0607C25.6464 12.4749 25.6464 11.5251 25.0607 10.9393L15.5147 1.3934C14.9289 0.807613 13.9792 0.807613 13.3934 1.3934C12.8076 1.97919 12.8076 2.92893 13.3934 3.51472L21.8787 12L13.3934 20.4853C12.8076 21.0711 12.8076 22.0208 13.3934 22.6066C13.9792 23.1924 14.9289 23.1924 15.5147 22.6066L25.0607 13.0607ZM2 13.5L24 13.5L24 10.5L2 10.5L2 13.5Z" fill="white"/>
											</svg>
										</div>
										<div class="services-description z-[20] lg:text-black text-white lg:group-hover:text-white transition ease-in-out delay-150 duration-300" set:html={data.description}>
										</div>
										<div class="absolute inset-x-0 w-full z-[10] h-[100%] lg:translate-y-[98%] lg:group-hover:translate-y-0 translate-y-0 transition ease-in-out delay-150 duration-300 bottom-0" style={ `background-image: url(${data.url}); width: 100%; background-size: cover;` }> 
										</div>
									</div>
								</a>
                            ))
                        }
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

