---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../../form.css"
import { array } from "astro:schema";
const currentUrl=Astro.request.url;

const security = [
	{ title: "Airside / Landside Systems", description: ""},
	{ title: "Safety & Security Systems", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image2.webp"},
	{ title: "Facilities Management Implementation", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image3.webp"},
]

const list= [
	"Capital Request Valuation", "Program & Project Management – Sciforma", "Property Management (PropWorks) – property billing & invoicing", "Unifier – Construction Management", "Primavera P6 – Design Engineering Construction Scheduling", "Unifier – Construction Management", "Origami Risk – Accident Reporting", "Enterprise Content Management – Document & Content", "Oracle eBusiness – Financials", "Appian – Business Process Automation", "Appian – Business Process Automation", "Business Intelligence – MicroStrategy, Tableau, Power BI Integration – MuleSoft", "Infor – Enterprise Asset Management"
];

---


<Header title="It Staffing" canonical={ currentUrl }>
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 15px;
            font-weight: 500;
            line-height: 28.8px;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 75px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.03em;
            text-align: left;
			color: white;
		}
		.site-title-layer {
			background-size: cover;
			background-color: #000000;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

		/* image section */
		.list_element{
			font-family: Instrument Sans;
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			text-align: left;
			color: #000000;
		}
		.capabilities{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #006B9E;
		}

		/* services scroll section */
		.h2{
			font-family: Instrument Sans;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #FFFFFF;
		}

		.diff-description{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
		}
        .diff-description2{
            font-family: Instrument Sans;
			font-size: 22px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
        }
        .differenciate{
			font-family: Instrument Sans;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #FFFFFF;
		}


		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 44px;
                line-height:60.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 py-12 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-start justify-start border-[#FFFFFF33]">
                <h6 class="service_shrt text-start mb-5">
                    SERVICES
                </h6>
				<h1 class="home_title text-start mb-5">
					IT Staffing
				</h1>
			</div>
		</div>
		<section>
			<!-- services -->
			<div class="lg:pl-12 pl-8 pr-8 lg:pb-28 lg:pr-40 bg-black lg:pt-0 pt-12">
				<div class="inner-layer lg:pb-0 pb-8 lg:gap-24">
					<div class="">
                        <div class="">
                            <div class="diff-description pb-12">What are a few of the challenges that many global organizations are facing when it comes to IT talent? A constant struggle to retain and train application experts and a lack of required skills when and where they are needed.</div>
                            <div class="diff-description pb-12">With applications supporting and often transforming business processes, ensuring that those applications are managed effectively and continually is critical. Obtaining hard-to-find IT skilled professionals who can deliver quality application development and management with minimal training is a challenge facing businesses around the world. While some organizations are comfortable having a third-party manage part of, or their entire application environment, many seek to augment their in-house skills with external IT talent who can work under their direction and guidance. Many IT organizations today seek both the flexibility to obtain resources when and where needed and the ability to “gear up” for projects that require specialized application skills that don’t exist or can’t be leveraged internally.</div>
                            <div class="diff-description pb-12">SPI offers a flexible service to meet all your IT staffing requirements. Do you want help in a hurry? One call to SPI and we come to your aid. With SPI’s Quick Start we supply qualified, certified, experienced resources within 48 hours.</div>
                            <div class="diff-description pb-12">Contract, contract-to-hire, direct-hire and outsourced managed staffing services SPI is a global provider of technical staffing services in U.S. and India to Fortune 500 companies. In the U.S. SPI also has extensive experience providing technology staffing solutions. SPI acquires, deploys and manages the best technical resources in the market. Our People are thoroughly tested during the recruiting process to validate their business and technical knowledge, as well as communication skills. SPI personnel undergo extensive background investigations, drug and other security in accordance with our client’s requirements.</div>
                        </div>
					</div>
                    <div class="mb-12">
                        <div class="differenciate pb-10">Personnel Deployment In The U.S. And India Locations</div>
                        <div class="diff-description pb-12">SPI deploys all its technology staffing solutions in the U.S. and India through its global headquarters in Dallas, Texas and its development facility in Chennai, India. Recruiting teams in both locations work together to identify and qualify the most experienced global talent each client requirement. Some of the areas where we have expertise is:</div>
                        <div class="diff-description">
                            <ul>
                                <li class="flex items-center gap-3 pb-2">
                                    <img src="/svg/list.svg" alt="bullet list" width="12" height="12" />
                                    <div>Data Migration</div>
                                </li>
                                <li class="flex items-center gap-3 pb-2">
                                    <img src="/svg/list.svg" alt="bullet list" width="12" height="12" />
                                    <div>Master Data Management</div>
                                </li>
                                <li class="flex items-center gap-3 pb-2">
                                    <img src="/svg/list.svg" alt="bullet list" width="12" height="12" />
                                    <div>Data Virtualization</div>
                                </li>
                                <li class="flex items-center gap-3 pb-2">
                                    <img src="/svg/list.svg" alt="bullet list" width="12" height="12" />
                                    <div>Database Support</div>
                                </li>
                                <li class="flex items-center gap-3 pb-2">
                                    <img src="/svg/list.svg" alt="bullet list" width="12" height="12" />
                                    <div>Data Cloud Solutions</div>
                                </li>
                                <li class="flex items-center gap-3 pb-2">
                                    <img src="/svg/list.svg" alt="bullet list" width="12" height="12" />
                                    <div>BI Solutions</div>
                                </li>
                            </ul>
                        </div>
                    </div>
					<div class="">
                        <div class="">
                            <div class="diff-description pb-8">We have executed Business Intelligence/Analytics projects either turn-key or by providing resources to our customers.</div>
                            <div class="diff-description pb-8">SPI can execute projects either turn-key or by providing experienced resources across various Business Intelligence/Analytics technologies.</div>
                        </div>
					</div>
				</div>
			</div>

			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

