---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../../form.css"
import { array } from "astro:schema";
const currentUrl=Astro.request.url;

const security = [
	{ title: "Airside / Landside Systems", description: ""},
	{ title: "Safety & Security Systems", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image2.webp"},
	{ title: "Facilities Management Implementation", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image3.webp"},
]

const list= [
	"Capital Request Valuation", "Program & Project Management – Sciforma", "Property Management (PropWorks) – property billing & invoicing", "Unifier – Construction Management", "Primavera P6 – Design Engineering Construction Scheduling", "Unifier – Construction Management", "Origami Risk – Accident Reporting", "Enterprise Content Management – Document & Content", "Oracle eBusiness – Financials", "Appian – Business Process Automation", "Appian – Business Process Automation", "Business Intelligence – MicroStrategy, Tableau, Power BI Integration – MuleSoft", "Infor – Enterprise Asset Management"
];

---


<Header title="application management" canonical={ currentUrl }>
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 15px;
            font-weight: 500;
            line-height: 28.8px;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 75px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.03em;
            text-align: left;
			color: white;
		}
		.site-title-layer {
			background-size: cover;
			background-color: #000000;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

		/* image section */
		.list_element{
			font-family: Instrument Sans;
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			text-align: left;
			color: #000000;
		}
		.capabilities{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #006B9E;
		}

		/* services scroll section */
		.h2{
			font-family: Instrument Sans;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #FFFFFF;
		}

		.diff-description{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
		}



		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 44px;
                line-height:60.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 py-12 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-start justify-start border-[#FFFFFF33]">
                <h6 class="service_shrt text-start mb-5">
                    SERVICES
                </h6>
				<h1 class="home_title text-start">
					Professional IT Services
				</h1>
                <h6 class="home_description flex-none text-start">
					Our Professional IT Services are designed to empower your business with cutting-edge technology solutions tailored to your unique needs. We provide end-to-end IT support, ensuring your operations run smoothly, efficiently, and securely.
				</h6>
			</div>
		</div>
		<section>
			<div class="relative pb-16 bg-black">
                <img src="/services/professional_services.webp" width="100%" height="500px" alt="airline" />
            </div>

            <!-- services -->
			<div class="lg:pl-12 pl-8 pr-8 lg:pb-4 lg:pr-40 bg-black">
				<div class="inner-layer lg:pb-0 pb-8 lg:gap-24">
                    <div class="mb-12">
                        <div class="h2 pb-10">Our Services Include:</div>
                        <div class="diff-description">
                            <ul>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]"> 1. Managed IT Services:</strong><br> Proactive monitoring, maintenance, and support for your IT infrastructure to minimize downtime and maximize productivity.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">2. IT Consulting:</strong><br> Strategic guidance to align technology with your business goals, helping you stay ahead in a competitive market.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">3. Cloud Solutions:</strong><br>Scalable and secure cloud-based services, including migration, management, and optimization, to enhance flexibility and collaboration.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">4. Cybersecurity Services: </strong><br>Comprehensive protection against cyber threats with advanced security measures, risk assessments, and incident response planning.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">5. Network Solutions: </strong><br>Design, implementation, and management of robust network systems that ensure seamless connectivity and performance.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">6. Software Development: </strong><br>Custom software and application development tailored to your business processes and user needs.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">7. Data Backup and Recovery: </strong><br>Reliable data protection and disaster recovery solutions to safeguard critical information and minimize downtime.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <div class="pb-5"><strong class="pb-6 text-[20px]">8. IT Infrastructure Setup and Maintenance: </strong><br>Expert setup and maintenance of hardware, servers, and IT systems for optimal performance and reliability.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div>

			<!-- services -->
			<div class="lg:pl-12 pl-8 pr-8 lg:pb-28 lg:pr-40 bg-black lg:pt-0 pt-12">
				<div class="inner-layer lg:pb-0 pb-8 lg:gap-24">
                    <div class="mb-12">
                        <div class="h2 pb-10">Why Choose Us?</div>
                        <div class="diff-description">
                            <ul>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div><strong>Experienced Professionals:</strong> A team of certified IT experts with a track record of delivering successful projects.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div><strong>Tailored Solutions:</strong> Customized strategies that address your specific business challenges..</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div><strong>24/7 Support: </strong>Round-the-clock assistance to resolve issues promptly.</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div><strong>Future-Ready Technology: </strong>Solutions designed to adapt and grow with your business.</div>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div>

			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

