---
import ErrorPage from "@components/ErrorPage.jsx";
---
<html lang="en">
  <head>
    <title>Error Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <ErrorPage client:only="react" />
  </body>
</html>
