---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"


const services_list= [
    { title: "SPI Capabilities", description : "Our powerful combination of consulting and product expertise provides clients with end to end technology", },
    { title: "Services Offerings", description : "Over the last few decades, advancements in computer and software technologies have reached an impressive level" },
    { title: "SPI Airport Capabilities", description : "Today’s airports manage their operations in a technology-driven environment to bring innovative solutions that advance the Customer Experience." },
    { title: "SPI Transportation Industry Capabilities", description : "The transportation sector consists of several industries including air freight and logistics, airlines, marine, road, rail, and transportation infrastructure." },
	{ title: "SafeConnect", description : "Software Professionals, Inc. has developed a software tool for that is designed to incorporate an organization’s sustainable safety program " },
    { title: "EnviroConnect", description : "EnviroConnect is a comprehensive solution for handling environmental data and generating reports." },
    { title: "ELMS", description : "Lorem ipsum dolor sit amet consectetur. Nunc tortor lorem ultricies dui proin scelerisque amet urna in. Sit leo amet magna elit ultrices id et eu praesent. Sed turpis dui malesuada ultrices. Odio nunc sollicitudin sed ipsum." },
    { title: "PermitConnect", description : "PermitConnect is a comprehensive solution for handling environmental data and generating reports. With our innovative software, you can manage data, historical documents, maps, photos, and more." },
    { title: "SafeSchool", description : "SafeSchool is a comprehensive solution for handling environmental data and generating reports. With our innovative software, you can manage data, historical documents, maps, photos, and more." },
]
---


<Header title="home page">
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            letter-spacing: 0.1em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFCC;
        }
		.site-title-layer::before{
			content: "";
			background-image: url("/svg/banner_bg.svg");
			height: 435px;
			width:100%;
			position:absolute;
			inset:0;
			z-index:0;
			top: -33%;
			background-repeat: no-repeat;
		}
		.home_title{
			font-family: Instrument Sans;
            font-size: 48px;
            font-weight: 600;
            line-height: 57.6px;
            letter-spacing: -0.03em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: white;
		}
		.site-title-layer {
			background-size: cover;
			background-color: #000000;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

        /* products */
		.product-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 700;
			line-height: 28.8px;
			letter-spacing: 0.1em;
			text-align: left;
			color: white;
		}
		.product_section{
			height: 680px;
			background-image: url("/products.webp");
			background-size: cover;
		}
		.check{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			color: #FFFFFF;
		}
		.product_description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
            color: #000000CC;
		}
		.modules > li {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.browchurs_title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #000000;
		}
		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 40px;
                line-height:50.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 pt-20 lg:pb-0 pb-20 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-center justify-center lg:pb-16">
				<h1 class="home_title text-center w-full block mb-5">
					Brochures
				</h1>
                <h6 class="text-white lg:w-[80%] text-center">
                    Explore our range of brochures to learn how Software Professionals, Inc. delivers value-driven digital solutions. From modernization to transformation, see how we empower businesses for growth.
                </h6>
			</div>
		</div>
		<section>

            <!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pb-28 bg-[#000000] lg:pb-0 pb-12">
				<div class="inner-layer-innovator grid lg:grid-cols-3 gap-5">
                    {
                        services_list.map((data, dataIndex) => (
                            <div class="pl-2">
                               <div class="bg-white">
                                    <div class="px-6 py-12 flex flex-col justify-between min-h-[360px]">
										<div class="">
											<div class="browchurs_title mb-5">{data.title}</div>
											<div class="product_description lg:text-[#00000099] text-center my-4">
												{ data.description }
											</div>
										</div>
										<div>
											<Cbtn colorbtnText="View Contract Details" classname="" bgcolor="#006B9E" textColor="white" cursor="pointer" display="block" />
										</div>
                                    </div>
                               </div> 
                            </div>
                        ))
                    }
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

