---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
const currentUrl=Astro.request.url;

const services_list= [
    { logo: "/pdfs/certifacations/certificate1.webp", width : "70%", description : "Women Business Council – Southwest", },
    { logo: "/pdfs/certifacations/certificate2.webp", width : "70%", description : "Women Business Enterprise National Council" },
    { logo: "/pdfs/certifacations/certificate3.webp", width : "80%", description : "Dallas/Fort Worth Minority Supplier Development Council" },
    { logo: "/pdfs/certifacations/certificate4.webp", width : "90%", description : "North Central Texas Regional Certification Agency" },
    { logo: "/pdfs/certifacations/certificate5.webp", width : "70%", description : "Dallas/Fort worth Minority Supplier Development Council" },
    { logo: "/pdfs/certifacations/certificate6.webp", width : "70%", description : "State of Texas HUB Certification and Compliance Program" },
    { logo: "/pdfs/certifacations/certificate7.webp", width : "70%", description : "US Pan Asian American Chamber of Commerce" },
    { logo: "/carosal/carosal7.png", width : "55%", description : "National Minority Supplier Development Council" },
]
---


<Header title="SPI's IT Industry Certifications and Expertise" description="Explore SPI’s certifications showcasing our expertise in delivering reliable and innovative IT solutions across industries." canonical={ currentUrl }>
	<style>
        .home_title,.service_shrt{font-family:Instrument Sans;text-underline-position:from-font;text-decoration-skip-ink:none}.service_shrt,h6{text-align:center}.service_shrt{font-size:14px;font-weight:500;line-height:22.4px;letter-spacing:.1em;color:#fffFFFCC}.home_title,.services{letter-spacing:-.03em}.home_title{font-size:48px;font-weight:600;line-height:57.6px;color:#fff}.contract,.home_description{font-weight:500;text-align:left;font-family:Instrument Sans;font-size:18px}.site-title-layer{background-size:cover;background-color:#000}.home_description{line-height:28.8px;color:#fffFFFCC}.contract{line-height:20px;color:#000000CC}.services{font-family:Instrument Sans;font-size:40px;font-weight:600;line-height:48px;text-align:left;color:#000}.modules>li,.services-description,.services-title{font-weight:500;font-family:Instrument Sans;text-align:left}.services-title{font-size:24px;line-height:38.4px}.modules>li,.services-description{font-size:15px;line-height:24px}.product-title,h6{line-height:28.8px;color:#fff}.product-title{font-family:Instrument Sans;font-size:24px;font-weight:700;letter-spacing:.1em;text-align:left}.product_section{height:680px;background-image:url("/products.webp");background-size:cover}.check{font-family:Instrument Sans;font-size:16px;font-weight:600;line-height:19.52px;text-align:left;color:#fff}.product_description,h6{font-family:Instrument Sans;font-weight:500;text-underline-position:from-font;text-decoration-skip-ink:none}.product_description{font-size:14.8px;line-height:24.6px;color:#444}.site-title-layer::before{content:"";background-image:url("/svg/banner_bg.svg");height:435px;width:100%;position:absolute;inset:0;z-index:0;top:-33%;background-repeat:no-repeat}h6{font-size:18px}@media (max-width:600px){.post{width:100%}.post_title{font-size:24px}.blogs-title{font-size:32px}.blogMain{background-color:#292d6b;color:#fff}.site-title-layer::before{height:435px}.home_title{font-size:40px;line-height:50.8px}}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 pt-20 lg:pb-0 pb-20 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-center justify-center lg:pb-16">
				<h1 class="home_title text-center w-full block mb-5">
					Certifications
				</h1>
                <h6 class="text-white lg:w-[80%] text-center">
                    SPI holds a range of industry-recognized certifications that demonstrate our commitment to diversity, compliance, and excellence. These credentials reinforce our dedication to maintaining high standards across our business practices.
                </h6>
			</div>
		</div>
		<section>

            <!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pb-28 bg-[#000000] lg:pb-0 pb-12 lg:pt-0 pt-20" id="certificates">
				<div class="inner-layer-innovator grid lg:grid-cols-4 gap-5">
                    {
                        services_list.map((data, dataIndex) => (
                            <div class="pl-2 group overflow-hidden">
                               <div class="lg:h-[290px] bg-white flex items-center ">
                                    <div class= { (dataIndex == 0) ? "px-6 py-8" : "px-6 py-12"}>
                                        <div class="pb-3 min-h-[100px] flex justify-center items-center flex-col">
                                            <img src={ data.logo} width={ data.width } height="111px" alt="USPAACC" />
                                        </div>
                                        <div class="product_description lg:text-[#00000099] text-center my-3">
                                             { data.description }
                                        </div>
										
                                    </div>
                               </div> 
                            </div>
                        ))
                    }
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

