---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../form.css"
import { array } from "astro:schema";
const currentUrl=Astro.request.url;
import Web3Form from "@components/Forms/Web3Forms.astro"

const security = [
	{ title: "Airside / Landside Systems", description: ""},
	{ title: "Safety & Security Systems", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image2.webp"},
	{ title: "Facilities Management Implementation", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image3.webp"},
]

const list= [
	"Capital Request Valuation", "Program & Project Management – Sciforma", "Property Management (PropWorks) – property billing & invoicing", "Unifier – Construction Management", "Primavera P6 – Design Engineering Construction Scheduling", "Unifier – Construction Management", "Origami Risk – Accident Reporting", "Enterprise Content Management – Document & Content", "Oracle eBusiness – Financials", "Appian – Business Process Automation", "Appian – Business Process Automation", "Business Intelligence – MicroStrategy, Tableau, Power BI Integration – MuleSoft", "Infor – Enterprise Asset Management"
];

---


<Header title="Contact SPI for Innovative IT Solutions Today" description="Reach out to SPI for expert IT services, including digital transformation, staffing, and infrastructure solutions." canonical={ currentUrl }>
	<style>
		.h2,.home_title,.services{letter-spacing:-.03em}.home_title{font-family:Instrument Sans;font-size:75px;font-weight:600;line-height:96px;text-align:left;color:#fff}.contract,.home_description{font-weight:500;text-align:left;font-family:Instrument Sans}.site-title-layer{background-size:cover;background-color:#000}.home_description{font-size:16px;line-height:28.8px;color:#fffFFFCC}.contract{font-size:18px;line-height:20px;color:#000000CC}.services{font-family:Instrument Sans;font-size:40px;font-weight:600;line-height:48px;text-align:left;color:#000}.capabilities,.list_element,.services-description,.services-title{font-weight:500;text-align:left;font-family:Instrument Sans}.services-title{font-size:24px;line-height:38.4px}.services-description{font-size:15px;line-height:24px}.list_element{font-size:20px;line-height:32px;color:#000}.capabilities{font-size:16px;line-height:25.6px;color:#006b9e}.h2{font-family:Instrument Sans;font-size:36px;font-weight:600;line-height:43.2px;text-align:left;color:#fff}.contact,.diff-description{font-family:Instrument Sans;font-size:16px;text-align:left}.diff-description{font-weight:500;line-height:25.6px;color:#fffFFFCC}.contact{font-weight:700;line-height:19.2px;letter-spacing:.1em;text-underline-position:from-font;text-decoration-skip-ink:none;color:#fff}.contact-details,.new_label1{font-family:Instrument Sans;font-size:18px;line-height:28.8px;text-underline-position:from-font;text-decoration-skip-ink:none}.contact-box{background-color:#141414}.contact-details{font-weight:500;text-align:left;color:#fffFFF99}.new_label1{font-weight:600;text-align:justified}@media (max-width:600px){.post{width:100%}.post_title{font-size:24px}.blogs-title{font-size:32px}.blogMain{background-color:#292d6b;color:#fff}.site-title-layer::before{height:435px}.home_title{font-size:44px;line-height:60.8px}}
	</style>
	<header class="">
		<Nav />

		<section class="bg-black">
            <div class="lg:px-16 py-20 px-8">
                <div class="inner-section flex lg:flex-row flex-col lg:w-[90%] mx-auto gap-20">
                    <div class="flex-none lg:w-[30%]">
                        <div class="contact-box px-10 py-10 mb-5">
                            <div class="contact pb-5">CONTACT</div>
                            <div class="contact-details">
                                <div class="pb-1 hover:text-[#B5DB00]"><a href="tel: +1 972-355-0054 ">+1 972-355-0054</a></div>
                                <div class="hover:text-[#B5DB00]"><a href="mailto:sales@spius.net">sales@spius.net</a></div>
                            </div>
                        </div>
                        <div class="contact-box px-10 py-10 mb-5">
                            <div class="contact pb-5">ADDRESS</div>
                            <div class="contact-details">
                                <div class="pb-1 hover:text-[#B5DB00]">
                                    <a target="_blank" href="https://www.google.com/maps/place/1029+Long+Prairie+Rd+Suite+A,+Flower+Mound,+TX+75022,+USA/@32.9977892,-97.0692675,17z/data=!3m1!4b1!4m6!3m5!1s0x864c2ce95aa55555:0x2e8eda92e68ff3df!8m2!3d32.9977847!4d-97.0666926!16s%2Fg%2F11qpmyr3hr?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">1029 Long Prairie Rd Suite A, Flower Mound, TX 75022, United States</a>
                                </div>
                            </div>
                        </div>
                        <div class="contact-box px-10 py-10">
                            <div class="contact pb-5">FOLLOW US</div>
                            <div class="contact-details flex lg:flex-row flex-col lg:items-center items-start">
                                <div class="flex-1 text-center hover:text-[#B5DB00] pr-4"><a href="https://www.facebook.com/SoftwareProfessionalsInc">Facebook</a></div>
                                <div class="flex-1 text-center hover:text-[#B5DB00] border-r border-l border-[#D9D9D933]"><a href="https://twitter.com/SPI_US">X</a></div>
                                <div class="flex-1 text-center hover:text-[#B5DB00] pl-4"><a href="https://www.linkedin.com/company/software-professionals-incorporated/">LinkedIn</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-1 lg:order-last order-first">
                        <div class="bg-black">
                            <div class="contact-form-section flex-1 lg:pb-8">
                                <!-- contact form -->
                                <div class="enquire_contact_form" id="enquire_popup_form">
                                    <div class="">
                                        <div class="contact_heading pb-6 text-center border-b-[1.5px] border-[#FFFFFF0A]">Got a question for our team? <span class="text-[#B5DB00]">Send us an inquiry</span></div>
                                        <div class="form-description mb-8">
                                            Contact SPI. Please leave your contact information below and we will reach out to you.
                                        </div>
                                        <form id="w3form" method="POST">
                                            <!-- Replace with your Access Key --> 
                                            <input type="hidden" name="access_key" value="1aa1acd7-f60e-4bc9-a9a0-0029b1c66c02">
                                            <!-- <input type="hidden" name="replyto" value="shelton@venzotechnologies.com" /> -->
                                            <input type="hidden" name="from_name" value="SPI - Contact Us Form Enquiry">
                                            <input type="hidden" name="subject" value="SPI - Contact Us Form Enquiry">
            
                                            <!-- hello@kytz.com <input type="hidden" name="access_key" value="37b9a42b-8539-41df-8a36-67e1e37c274c"> -->
                                            <!-- venzo@gmail.com <input type="hidden" name="access_key" value="5a696bab-69df-44a8-8dad-39e7c0e07877"> -->
                                            <!-- shelton -->
                                            <!-- <input type="hidden" name="access_key" value="eef15f7d-f8da-4e00-a000-c362e14eb7c0"> -->
                                            <div class="flex lg:flex-row flex-wrap gap-5 flex-col justify-between form_datas">
                                                <div class="line flex-none w-full">
                                                    <label class="new_label1 text-white pb-3">Full Name<span class="required text-red-500">*</span></label> <span class="error" id="username_err"> </span>
                                                    <input type="text" class="line_field mb-5 mt-3" id="Kname" name="name" maxlength="255" placeholder="Enter full name*" required>
                                                </div>
                                                <div class="line flex-none w-full">
                                                    <label class="new_label1 text-white pb-3">Enter bussiness email<span class="required text-red-500">*</span></label><span class="error" id="email_err"> </span>
                                                    <input type="email" class="line_field mb-5 mt-3" id="Kemail" maxlength="40" name="Email" placeholder="Enter bussiness email*">
                                                    
                                                </div>
                                                <div class="line w-full">
                                                    <label class="new_label1 text-white pb-3">Tell us about you need in detail<span class="required text-red-500">*</span> </label><span class="error" id="message_err"> </span>
                                                    <textarea class="line_field mb-5 mt-3" name="Message" id="Kmessage" maxlength="500" placeholder="Tell us about you need in detail"></textarea>
                                                </div>
                                                <div class=""><button class="apply_now mt-2 px-12 py-2" type="button" id="submitbtn">Submit</button></div>
                                            </div>
                                            <div id="message" class="text-red-500 pt-4"></div>
                                            <div class="terms_condition hidden">
                                                By clicking send, you accept our <a href="">privacy policy</a> Prefer email? <a href="mailto:hello@kytz.in">hello@kytz.in</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        
            <!-- thank messaage -->
            <div class="enquire_thnkmss text-center fixed inset-0 h-screen backdrop-blur-2xl overflow-y-auto w-full justify-center items-center">
                <div class="bg-white lg:max-w-[50%] p-10">
                    <h3 class="text-2xl leading-6 font-medium text-gray-900" style="line-height:2rem;">Thank you for reaching out to us! We have received your enquiry and are thrilled to learn more about your interest. </h3>
                    <div class="mt-2 px-7 py-3">
                        <p class="text-md text-gray-500">
                            Looking forward to connecting with you soon.  
                        </p>
                    </div>
                </div>
            </div>

			<Footer />
		</section>
	</header>
</Header>
<script>
    var com_form = document.querySelector(".enquire_thnkmss"),
    sidebox_D = document.querySelector(".sidebox_D"),
    kytz_label = document.querySelector(".kytz-label"),
    w3form = document.getElementById("w3form");
	// (brand_btn = document.querySelectorAll(".brand-button")), (form_close = document.querySelector(".kytz_form_close")), (myform = document.querySelector("#enquire_main_form"));
	var emailerr = document.querySelector("#email_err"),
    usererror = document.querySelector("#username_err"),
    mobilerror = document.querySelector("#mobile_err"),
    messageerror = document.querySelector("#message_err");

	function enquire_form() {
		var e = document.getElementById("Kname"),
			r = document.getElementById("Kemail"),
			t = document.getElementById("Kmessage"),
			l = document.getElementById("submitbtn"),
			i = document.getElementById("message");
		function o() {
			var r = document.querySelector("#username_err"),
				n = e.value,
				t = /^[a-zA-Z\s]+$/.test(n);
			return e.value ? (e.value.length < 4 ? ((r.innerHTML = "username length is too short"), !1) : t ? ((r.innerHTML = ""), !0) : ((r.innerHTML = "username should be a-z ,A-Z only"), !1)) : ((r.innerHTML = "field required"), !1);
		}
		function s() {
			var e = document.querySelector("#email_err"),
				n = r.value,
				t = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(n);
			return "" == n ? ((e.innerHTML = "required field"), !1) : t ? ((e.innerHTML = ""), !0) : ((e.innerHTML = "invalid email"), !1);
		}
		function m() {
			var e = document.querySelector("#message_err");
			return t.value ? ((e.innerHTML = ""), !0) : ((e.innerHTML = "field required"), !1);
		}

		e.addEventListener("input", () => {
			o();
		}),
			r.addEventListener("input", () => {
				s();
			}),
			t.addEventListener("input", () => {
				m();
			}),

			(l.onclick = (e) => {
				console.log("clicked");
				if ((e.preventDefault(), o() || s() || m())) {
					if (o() && s() && m()) {
						i.innerHTML = "";
						let r = document.querySelector(".enquire_contact_form"),
							n = document.getElementById("enquire_form"),
							t = document.getElementById("w3form"),
							u = document.querySelector(".enquire_thnkmss");
						l.innerHTML = "<div class='animate-pulse'>processing...</div>";
						let d = new FormData(t),
							c = {};
						d.forEach((e, r) => {
							c[r] ? (Array.isArray(c[r]) ? c[r].push(e) : (c[r] = [c[r], e])) : (c[r] = e);
						});
						let y = JSON.stringify(c);
						console.log(y),
							fetch("https://api.web3forms.com/submit", { method: "POST", headers: { "Content-Type": "application/json", Accept: "application/json" }, body: y })
								.then(async (e) => {
									let n = await e.json();
									200 == e.status ? ((l.innerHTML = "submit"), (u.style.display = "flex")) : (console.log(e), (l.innerHTML = n.message));
								})
								.catch((e) => {
									console.log(e), (l.innerHTML = "Something went wrong!");
								})
								.then(function () {
									t.reset(),
										setTimeout(() => {
											(u.style.display = "none"), (r.style.display = "block");
										}, 5e3);
								});
					} else i.innerHTML = '<div class="alert alert-warning">Please fill all required field</div>';
				} else i.innerHTML = '<div class="alert alert-warning">Please fill all required field</div>';
			});
	}

	document.addEventListener("DOMContentLoaded", function () {
		w3form.reset(), "scrollRestoration" in history && (history.scrollRestoration = "manual");
	}),
    // brand_btn.forEach((e, r) => {
    //     e.onclick = () => {
    //         (com_form.style.display = "flex"), (usererror.innerHTML = ""), (emailerr.innerHTML = ""), (mobilerror.innerHTML = ""), (messageerror.innerHTML = "");
    //     };
    // }),
    // (form_close.onclick = () => {
    //     (com_form.style.display = "none"), w3form.reset(), (usererror.innerHTML = ""), (emailerr.innerHTML = ""), (mobilerror.innerHTML = ""), (messageerror.innerHTML = "");
    // }),
    (window.onclick = (e) => {
        e.target === com_form && ((com_form.style.display = "none"), w3form.reset()), e.target === sidebox_D && (sidebox_D.style.display = "none"), e.target === kytz_label && (sidebox_D.style.display = "flex");
    }),
    enquire_form();
</script>

