---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
---

<Header title="home page">
	<style>
		.site-title-layer {
			background-image: url("/banners/home_banner.webp");
			height: 609px;
			background-size: cover;
		}
		.header_buttons{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 19.52px;
			text-align: left;
			color: #B5DB00;
		}
		.home_description{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 28.8px;
			text-align: left;
			color: #FFFFFF;
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 lg:py-12 py-12 site-title-layer overflow-hidden relative flex items-end" >
			<div class="">
				<h1 class="home_title">
					Transforming Business with AI<br> and Data-Driven Solutions
				</h1>
				<div class="flex flex-1 items-center mt-6">
					<h6 class="home_description flex-none w-[70%]">
						Software Professionals, Inc. is an IT services and custom software development firm specializing in transforming business processes using AI and data analytics to drive business value.
					</h6>
					<div class="flex flex-1 justify-end">
						<a class="header_buttons pr-3 border-r border-[#B5DB00]" href="explore-products">Explore Products</a>
						<a class="header_buttons ps-3" href="explore-services">Explore Services</a>
					</div>
				</div>
			</div>
		</div>
		<section>
			r
		</section>
	</header>
	<main>

	</main>
</Header>
