---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import { array } from "astro:schema";
const currentUrl=Astro.request.url;

const security = [
	{ title: "Airside / Landside Systems", description: ""},
	{ title: "Safety & Security Systems", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image2.webp"},
	{ title: "Facilities Management Implementation", description: "SPI provides outsourced solutions to optimize performance of critical applications.<br><br>SPI offers trained, certified, experienced consultants to manage the entire application life cycle.", url: "/services/services_image3.webp"},
]

const list= [
	"Capital Request Valuation", "Program & Project Management – Sciforma", "Property Management (PropWorks) – property billing & invoicing", "Unifier – Construction Management", "Primavera P6 – Design Engineering Construction Scheduling", "Unifier – Construction Management", "Origami Risk – Accident Reporting", "Enterprise Content Management – Document & Content", "Oracle eBusiness – Financials", "Appian – Business Process Automation", "Appian – Business Process Automation", "Business Intelligence – MicroStrategy, Tableau, Power BI Integration – MuleSoft", "Infor – Enterprise Asset Management"
];

---

<Header title="enterprise-infrastructure" description="" canonical={ currentUrl } >
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 15px;
            font-weight: 500;
            line-height: 28.8px;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 75px;
            font-weight: 600;
            line-height: 96px;
            letter-spacing: -0.03em;
            text-align: left;
			color: white;
		}
		.site-title-layer {
			background-size: cover;
			background-color: #000000;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 16px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

		/* image section */
		.list_element{
			font-family: Instrument Sans;
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			text-align: left;
			color: #000000;
		}
		.capabilities{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #006B9E;
		}

		/* services scroll section */
		.h2{
			font-family: Instrument Sans;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #FFFFFF;
		}

		.diff-description{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
		}
        .diff-description2{
            font-family: Instrument Sans;
			font-size: 22px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
        }
        .clients-say{
            /* background-image:linear-gradient(to bottom,#011435,#002667) */
        }
        
        .clients-title{
            font-family:Instrument Sans;font-size:40px;font-weight:700;line-height:49.6px;text-align:center;color:var(--white)
        }
        
        .client-review,.client_position{
            text-align:left;font-family:Instrument Sans
        }
        
        .client-review{
            font-size:19px;font-weight:100;line-height:23.8px;color:var(--white)
        }
        
        .client_position{
            font-size:20px;font-weight:400;line-height:27px;color:rgb(255 255 254 / 50%)
        }
        
        .what-we-do-title{font-family:Instrument Sans;font-size:32px;font-weight:700;line-height:38.4px;text-align:left;color:#fff;
        }
        
        .learn-m-btn,.what-we-do-description{
            font-family:Instrument Sans;font-weight:400;text-align:left;
        }
        
        .what-we-do-description{
            font-size:14px;line-height:21px;color:rgba(255,255,255,.8);
        }
            
        .learn-m-btn{
            font-size:16px;line-height:19.84px;color:#fff;
        }
    
		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 44px;
                line-height:60.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 py-12 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-start justify-start border-[#FFFFFF33]">
				<h1 class="home_title text-start">
					Leadership Team
				</h1>
			</div>
		</div>
		<section>

			<!-- CLIENT SAY -->
                <div class="clients-say lg:px-16 px-6 bg-black">
                    <div class="clients-say-inner-layer">
                        <div class="client-video-section flex lg:flex-row flex-col gap-4 border border-2 border-gray-500 rounded-lg bg-white">
                            <div class="video-section lg:mb-0 mb-5 relative">
                                <img src="/members/member1.webp" width="80%" height="489px" alt="client">
                                <div class="flex gap-4 absolute bottom-0 p-10">
                                    <div class="client_position items-center">
                                        <p class="font-bold text-white">John Simon</p>
                                        <p>CEO, ABC Company</p>
                                    </div>
                                </div>
                            </div>
                            <div class="video-section lg:mb-0 mb-5 flex flex-col justify-between px-8 py-12 relative" style="background-color: rgb(255 255 255 / 6%)">
                                <div class="client-review">
                                    Venzo's expertise in digital transformation has revolutionized our business. Their team's dedication and innovative solutions have helped us achieve unprecedented growth.
                                </div>
                                <div class="flex gap-4 absolute bottom-0 pb-10">
                                    <img src="./assets/client_mini.webp" height="60" width="60" alt="client">
                                    <div class="client_position items-center">
                                        <p class="font-bold text-white">Robert</p>
                                        <p>CEO, ABC Company</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-video-section flex lg:flex-row flex-col gap-4 border border-2 border-gray-500 rounded-lg bg-white mt-10">
                            <div class="video-section lg:mb-0 mb-5 relative">
                                <img src="/members/member1.webp" width="80%" height="489px" alt="client">
                                <div class="flex gap-4 absolute bottom-0 p-10">
                                    <div class="client_position items-center">
                                        <p class="font-bold text-white">John Simon</p>
                                        <p>CEO, ABC Company</p>
                                    </div>
                                </div>
                            </div>
                            <div class="video-section lg:mb-0 mb-5 flex flex-col justify-between px-8 py-12 relative" style="background-color: rgb(255 255 255 / 6%)">
                                <div class="client-review">
                                    Venzo's expertise in digital transformation has revolutionized our business. Their team's dedication and innovative solutions have helped us achieve unprecedented growth.
                                </div>
                                <div class="flex gap-4 absolute bottom-0 pb-10">
                                    <img src="./assets/client_mini.webp" height="60" width="60" alt="client">
                                    <div class="client_position items-center">
                                        <p class="font-bold text-white">Robert</p>
                                        <p>CEO, ABC Company</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="client-video-section flex lg:flex-row flex-col gap-4 border border-2 border-gray-500 rounded-lg bg-white mt-10">
                            <div class="video-section lg:mb-0 mb-5 relative">
                                <img src="/members/member1.webp" width="80%" height="489px" alt="client">
                                <div class="flex gap-4 absolute bottom-0 p-10">
                                    <div class="client_position items-center">
                                        <p class="font-bold text-white">John Simon</p>
                                        <p>CEO, ABC Company</p>
                                    </div>
                                </div>
                            </div>
                            <div class="video-section lg:mb-0 mb-5 flex flex-col justify-between px-8 py-12 relative" style="background-color: rgb(255 255 255 / 6%)">
                                <div class="client-review">
                                    Venzo's expertise in digital transformation has revolutionized our business. Their team's dedication and innovative solutions have helped us achieve unprecedented growth.
                                </div>
                                <div class="flex gap-4 absolute bottom-0 pb-10">
                                    <img src="./assets/client_mini.webp" height="60" width="60" alt="client">
                                    <div class="client_position items-center">
                                        <p class="font-bold text-white">Robert</p>
                                        <p>CEO, ABC Company</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

