---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"


const services_list= [
    { logo: "/awards_page/award1.webp", width : "100%", description : "Quality & Flexibility", },
    { logo: "/awards_page/award2.webp", width : "100%", description : "Customer Experience" },
    { logo: "/awards_page/award3.webp", width : "100%", description : "Interview with SPI CEO" },
    { logo: "/awards_page/award5.webp", width : "44%", description : "Safe Connect" },
    { logo: "/awards_page/award6.webp", width : "44%", description : "Transportation Industry" },
    { logo: "/awards_page/award7.webp", width : "44%", description : "SPI celebrated 30 years in business at Circle R Ranch with colleagues and friends" },
    { logo: "/awards_page/award9.webp", width : "44%", description : "SPI FUN!" },
    { logo: "/awards_page/award10.webp", width : "44%", description : "SPI Promo" },
]
---


<Header title="home page">
	<style>
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            letter-spacing: 0.1em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 48px;
            font-weight: 600;
            line-height: 57.6px;
            letter-spacing: -0.03em;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: white;
		}
		.site-title-layer {
			background-size: cover;
			background-color: #000000;
		}
		.site-title-layer::before{
			content: "";
			background-image: url("/svg/banner_bg.svg");
			height: 435px;
			width:100%;
			position:absolute;
			inset:0;
			z-index:0;
			top: -33%;
			background-repeat: no-repeat;
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

        /* products */
		.product-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 700;
			line-height: 28.8px;
			letter-spacing: 0.1em;
			text-align: left;
			color: white;
		}
		.product_section{
			height: 680px;
			background-image: url("/products.webp");
			background-size: cover;
		}
		.check{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			color: #FFFFFF;
		}
		.product_description{
			font-family: Instrument Sans;
            font-size: 17.72px;
            font-weight: 600;
            line-height: 25.69px;
            letter-spacing: -0.01em;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: white;
		}
		.modules > li {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 40px;
                line-height:50.8px;
            }
		}
	</style>
	<header class="">
		<Nav />
		<div class="px-8 lg:px-12 pt-20 lg:pb-0 pb-20 site-title-layer overflow-hidden relative flex items-start" >
			<div class="header flex flex-col items-center justify-center lg:pb-16">
				<h1 class="home_title text-center w-full block mb-5">
					Videos
				</h1>
                <h6 class="text-white lg:w-[80%] text-center">
                    Discover how Software Professionals, Inc. leverages AI and data analytics to transform business processes. Explore our video collection to see innovation and digital transformation in action.
                </h6>
			</div>
		</div>
		<section>

            <!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pb-28 bg-[#000000] lg:pb-0 pb-12">
				<div class="inner-layer-innovator grid lg:grid-cols-3">
                    {
                        services_list.map((data, dataIndex) => (
                            <div class="pl-2">
                               <div class="lg:h-[290px]">
                                    <div class="px-2 py-12">
                                        <video controls="" class="bg-black w-full firstv">
                                            <source src="./assets/videos/secure_your_home.mp4" type="video/mp4">
                                        </video>
                                        <div class="product_description lg:text-[#00000099] text-center my-4">
                                             { data.description }
                                        </div>
                                    </div>
                               </div> 
                            </div>
                        ))
                    }
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

