
<style>
    /* css footer */
    .footer_heading{
		font-family: Instrument Sans;
        font-size: 13px;
        font-weight: 400;
        line-height: 20.8px;
        letter-spacing: 0.12em;
        text-align: left;
        color: #00000099;
    }
    .footer_content{
		font-family: Instrument Sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 28.8px;
        text-align: left;
        color:#000000;
    }
    .footer_tinyText{
        font-family: Atkinson Hyperlegible;font-size: 12px;font-weight: 600;line-height: 33.84px;text-align: left;color: #FFFFFF;
    }
    .footer_mail{
        font-family: Atkinson Hyperlegible;font-size: 18px;font-weight: 400;line-height: 19.84px;text-align: left;color: var(--white);opacity:.5; 
    }
    /* .footer_content > a:hover{
        color: white;
    } */
    .footer_box{
		flex:1;
	}
    .copyrights{
        font-family: Instrument Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: right;
        /* color: #000000; */
    }
    .venzo_text{
        font-family: Atkinson Hyperlegible;font-size: 60px;font-weight: 700;line-height: 72px;text-align: left;color: var(--white);opacity:.2;
    }
    .love_kytz{
        font-family: Atkinson Hyperlegible;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.84px;
        text-align: center;
    }
    @media (max-width: 1000px){
        .footerfirstrow{
            gap:3rem;
        }
        .footersecondrow{
            gap:3rem;
        }
    }
    @media (max-width: 600px){
        .footer_box{
            width: 100% !important;
            display:block;
            padding: 1rem 0;
            border-bottom: 1px solid #FFFFFF1A;
        } 
        .social{
            padding-top: 2rem;
        }
        .footerfirstrow{
            gap:0rem;
        }
        .footersecondrow{
            gap:0rem;
        }
        .venzo_text{
            font-size: 43px;
            line-height: 50px;
        }
        /* .quick_list{
            display: none;
        } */
    }
</style>
<!-- footer -->
<div class="footer_section lg:px-16 px-8 bg-white">
    <div class="footer lg:pt-10">
		<!-- <div class="footer_icon footer_cover lg:px-0 px-8 pb-10 py-24">
			<a href="/"><img width="151.25" height="40.49" alt="footer logo" src="/assets/venzo_logo.webp"></a>
		</div> -->
        <div class="footer_cover lg:px-0 pb-10 pt-12">
            <div class="footerfirstrow flex md:flex-row flex-col lg:pb-10">
                <div class="footer_box">
                    <div>
                        <a href="/" target="_blank"><img src="/logos/spi.webp" width="170.56px" height="87.55px"></a>
                    </div>  
                </div> 
                <div class="footer_box">
                    <div class="quick_links">
                        <div class="footer_heading pb-5 lg:block flex justify-between items-center">
                            ADDRESS
                            <svg class="lg:hidden" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L8 7L1 1" stroke="white" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        </div>
                        <div class="quick_list footer_content pr-8">
                            1029 Long Prairie Rd Suite A,<br>
                            Flower Mound, TX 75022,<br>
                            United States
                        </div>  
                    </div>
                </div>
                <div class="footer_box">
                    <div class="quick_links">
                        <div class="footer_heading pb-5 lg:block flex justify-between lg:items-center">
                            <a href="#careers">PRODUCTS</a>
                            <svg class="lg:hidden" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L8 7L1 1" stroke="white" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        </div>
                        <div class="quick_list">
                            <div class="footer_content"><a target="_blank" href="/products/safe-connect">SafeConnect</a></div>
                            <div class="footer_content"><a target="_blank" href="/products/safe-school">SafeSchool</a></div>
                            <!-- <div class="footer_content"><a target="_blank" href="/products/safe">SafeContact</a></div> -->
                            <div class="footer_content"><a target="_blank" href="/products/enviro-connect">EnviroConnect</a></div>
                            <div class="footer_content"><a target="_blank" href="/products/permit-connect">PermitConnect</a></div>
                        </div>
                    </div>
                </div>
                <div class="footer_box">
                    <div class="quick_links">
                        <div class="footer_heading pb-5 lg:block flex justify-between items-center">
                            <a href="#careers">SERVICES</a>
                            <svg class="lg:hidden" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L8 7L1 1" stroke="white" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        </div>
                        <div class="quick_list">
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/airport-capabilities">Airport Capabilities</a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/transportation-capabilities">Transportation Capabilities</a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/application-management">Application Management</a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/digital-transformation">Digital Transformation</a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/business-intelligence">Business Intelligence/Analytics</a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/enterprise-infrastructure">Enterprise Infrastructure</a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/services/it-staffing">IT Staffing</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footersecondrow lg:grid grid-cols-4">
                <div class="footer_box">
                    <div class="quick_links">
                        <div class="quick_list pr-8">
                            Founded in 1992, SPI is<br> headquartered in Dallas, Texas with<br> an offshore development and<br> delivery center in India.
                        </div>  
                    </div>
                </div>
                <div class="footer_box flex flex-col justify-between lg:gap-0 gap-12">
                    <div class="quick_links">
                        <div class="footer_heading pb-5 lg:block flex justify-between items-center">
                            CONTACT
                            <svg class="lg:hidden" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L8 7L1 1" stroke="white" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        </div>
                        <div class="quick_list footer_content">
                            <div><a href="tel:972-355-0054">972-355-0054</a></div>
                            <div><a href="mailto:sales@spius.net">sales@spius.net</a></div>
                        </div> 
                    </div>
                </div>
                <div class="footer_box">
                    <div class="quick_links">
                        <div class="footer_heading pb-5 lg:block flex justify-between items-center">
                            COMPANY
                            <svg class="lg:hidden" width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15 1L8 7L1 1" stroke="white" stroke-opacity="0.2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                        </div>
                        <div class="quick_list">
                            <div class="footer_content"><a href="https://spi-project.pages.dev/about-us">About us
                            </a></div>
                            <div class="footer_content"><a href="https://spi-project.pages.dev/career">Careers
                            </a></div>
                        </div>
                    </div>
                </div>
                <!-- <div class="footer_box"></div> -->
            </div>
        </div>
        <div class="copyrights border-t-2 text-center py-4 flex lg:flex-row flex-col justify-between items-center pb-12">
            <div class="flex flex-row gap-4 items-center w-full">
                <div class="flex lg:flex-row flex-col w-full lg:justify-between justify-center items-center">
                    <div class="inline-flex flex-1 gap-3 items-center">
                        <a href="https://www.facebook.com/SoftwareProfessionalsInc" target="_blank">
                            <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.3375 30V18.3825H25.2375L25.821 13.8555H21.336V10.965C21.336 9.654 21.7005 8.76 23.5815 8.76H25.9785V4.71C24.8177 4.58528 23.6509 4.52519 22.4835 4.53C19.0275 4.53 16.662 6.6405 16.662 10.515V13.8555H12.75V18.3825H16.6605V30H2.406C1.491 30 0.75 29.259 0.75 28.344V1.656C0.75 0.741 1.491 0 2.406 0H29.094C30.009 0 30.75 0.741 30.75 1.656V28.344C30.75 29.259 30.009 30 29.094 30H21.3375Z" fill="#006B9E"/>
                            </svg>   
                        </a>
                        <a href="https://twitter.com/SPI_US" target="_blank"> 
                            <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.25 0.25C2.76797 0.25 0.75 2.26797 0.75 4.75V27.25C0.75 29.732 2.76797 31.75 5.25 31.75H27.75C30.232 31.75 32.25 29.732 32.25 27.25V4.75C32.25 2.26797 30.232 0.25 27.75 0.25H5.25ZM26.1398 6.15625L18.8414 14.4953L27.4266 25.8438H20.7047L15.4453 18.9602L9.41953 25.8438H6.07969L13.8844 16.9211L5.65078 6.15625H12.5414L17.3016 12.4492L22.8 6.15625H26.1398ZM23.482 23.8469L11.5359 8.04766H9.54609L21.6258 23.8469H23.475H23.482Z" fill="#006B9E"/>
                            </svg>  
                        </a>
                        <a href="https://www.linkedin.com/company/software-professionals-incorporated/" target="_blank">
                            <svg width="31" height="30" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26.9167 0C27.8007 0 28.6486 0.351189 29.2737 0.976311C29.8988 1.60143 30.25 2.44928 30.25 3.33333V26.6667C30.25 27.5507 29.8988 28.3986 29.2737 29.0237C28.6486 29.6488 27.8007 30 26.9167 30H3.58333C2.69928 30 1.85143 29.6488 1.22631 29.0237C0.601189 28.3986 0.25 27.5507 0.25 26.6667V3.33333C0.25 2.44928 0.601189 1.60143 1.22631 0.976311C1.85143 0.351189 2.69928 0 3.58333 0H26.9167ZM26.0833 25.8333V17C26.0833 15.559 25.5109 14.177 24.4919 13.1581C23.473 12.1391 22.091 11.5667 20.65 11.5667C19.2333 11.5667 17.5833 12.4333 16.7833 13.7333V11.8833H12.1333V25.8333H16.7833V17.6167C16.7833 16.3333 17.8167 15.2833 19.1 15.2833C19.7188 15.2833 20.3123 15.5292 20.7499 15.9668C21.1875 16.4043 21.4333 16.9978 21.4333 17.6167V25.8333H26.0833ZM6.71667 9.26667C7.45927 9.26667 8.17146 8.97167 8.69657 8.44657C9.22167 7.92146 9.51667 7.20927 9.51667 6.46667C9.51667 4.91667 8.26667 3.65 6.71667 3.65C5.96964 3.65 5.25321 3.94675 4.72498 4.47498C4.19675 5.00321 3.9 5.71964 3.9 6.46667C3.9 8.01667 5.16667 9.26667 6.71667 9.26667ZM9.03333 25.8333V11.8833H4.41667V25.8333H9.03333Z" fill="#006B9E"/>
                            </svg>                                
                        </a> 
                    </div>
                    <div class="copyright flex-1 flex items-center justify-end items-start lg:mt-0 mt-5">
                        A Sustainable site made with ❤️ by<a href="https://www.kytz.in/?utm_source=Client-website&utm_medium=SPI&utm_campaign=Footer-link" target="_blank" class="pl-1 text-indigo-500"> Kytz</a>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var footer_box=document.querySelectorAll(".footer_box");
    var quick_list=document.querySelectorAll(".quick_list");
    var footerbox1=0, footerbox2=0,footerbox3=0, footerbox4=0,footerbox5=0,footerbox6=0,footerbox7=0,footerbox8=0;

    function mobiledropdown() {
        footer_box[0].onclick = () => {
            if(footerbox1 == 0) {
                quick_list[0].style.display="block";
                footerbox1=1;
            }else{
                quick_list[0].style.display="none";
                footerbox1=0;
            }
        }
        footer_box[1].onclick = () => {
            if(footerbox2 == 0) {
                quick_list[1].style.display="block";
                footerbox2=1;
            }else{
                quick_list[1].style.display="none";
                footerbox2=0;
            }
        }
        footer_box[2].onclick = () => {
            if(footerbox3 == 0) {
                quick_list[2].style.display="block";
                footerbox3=1;
            }else{
                quick_list[2].style.display="none";
                footerbox3=0;
            }
        }
        footer_box[3].onclick = () => {
            if(footerbox4 == 0) {
                quick_list[3].style.display="block";
                footerbox4=1;
            }else{
                quick_list[3].style.display="none";
                footerbox4=0;
            }
        }
        footer_box[4].onclick = () => {
            if(footerbox5 == 0) {
                quick_list[4].style.display="block";
                footerbox5=1;
            }else{
                quick_list[4].style.display="none";
                footerbox5=0;
            }
        }
        footer_box[5].onclick = () => {
            if(footerbox6 == 0) {
                quick_list[5].style.display="block";
                footerbox6=1;
            }else{
                quick_list[5].style.display="none";
                footerbox6=0;
            }
        }
        footer_box[6].onclick = () => {
            if(footerbox7 == 0) {
                quick_list[6].style.display="block";
                footerbox7=1;
            }else{
                quick_list[6].style.display="none";
                footerbox7=0;
            }
        }
        footer_box[7].onclick = () => {
            if(footerbox8 == 0) {
                quick_list[7].style.display="block";
                footerbox8=1;
            }else{
                quick_list[7].style.display="none";
                footerbox8=0;
            }
        }
    }

    // if(window.innerWidth < 600) {
    //     mobiledropdown();
    // }


    // footer_box.forEach((data, index) => {
    //     data.onclick = () => {
    //         quick_list[index].style.display="block";
    //     }
    // })
</script>
