---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../../form.css"
const currentUrl=Astro.request.url;

const services_data = [ "/product_logo/product_logo1.webp", "/product_logo/product_logo2.webp", "/product_logo/product_logo3.webp", "/product_logo/product_logo6.webp", "/product_logo/product_logo4.webp"];
const services_list= [
    { logo: "/product_logo/product_logo1.webp", link : "/products/safe-connect", width : "85%", bgcolor: "#006B9E",  product_image: "/mobile.webp", description : "A safety app that engages employees to improve safety practices, aiming for zero incidents.", modules : "MODULES", value1 : ["1. Observation and Intervention (O&I)", "2. Job Safety Analysis (JSA)", "3. Risk Assessment"], value2 : ["4. Safety Walkthrough", "5. Personal Safety Plan (PSP)", "6. Incident Notification"] },
    { logo: "/product_logo/product_logo2.webp", link : "/products/enviro-connect", width : "100%", bgcolor: "#B5DB00", product_image: "/laptop.webp", description : "A solution for managing environmental data and reports. It helps reduce costs and ensures compliance with environmental regulations.", modules : "BENEFITS", value1 : ["1. Field tested", "2. User friendly and customizable", "3. Encourages employee engagement"], value2 : ["4. Eliminates paper usage", "5. Provides Management Control", "6. Supports sustainable growth"] },
    { logo: "/product_logo/product_logo3.webp", link : "/products/permit-connect", width : "100%", bgcolor: "#006B9E", product_image: "/laptop2.webp", description : "A software for managing the entire permit process, from application to occupancy. ", modules : "BENEFITS", value1 : ["1. Permit management", "2. Compliance tracking", "3. Plant management", "4. Easy to navigate"], value2 : ["5. Inspection tracking", "6. GIS tracking", "7. Digital data", "8. Time saver"] },
    { logo: "/product_logo/product_logo6.webp", link : "/products/inner-LMS", width : "100%", bgcolor: "#B5DB00", product_image: "/laptop3.webp", description : " LMS e-Connect is a platform that powers eLearning and is used to deliver training courses and educational programs to meet your company’s specific training needs.", modules : "BENEFITS", value1 : ["1. Cuts Cost", "2. Accessible Training Content", "3. Monitor & Assess Progress"], value2 : ["4. Reduce Learning Time", "5. Up-to- Date Compliance", "5. Flexibility"] },
    { logo: "/product_logo/product_logo4.webp", link : "/products/safe-school", width : "100%", bgcolor: "#006B9E", product_image: "/laptop4.webp", description : "Safe School is designed to implement a technology solution to address the issue of school violence and other suspicious activities in schools.", modules : "BENEFITS", value1 : ["1. Proactive Approach to School Safety", "2. Increased Student Awareness of Safety Expectations", "3. Instant Notifications"], value2 : ["4. Media Uploading", "5. Real-time Admin Reports", "6. Anonymous Reporting to Users"] },
]
---


<Header title="products" canonical={currentUrl}>
	<style>
		body{
			background-color: black;
		}
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            letter-spacing: 0.1em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
            font-size: 48px;
            font-weight: 600;
            line-height: 57.6px;
            letter-spacing: -0.03em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: white;
		}
		.site-title-layer {
			background-size: cover;
			/* background-color: #000000; */
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

        /* products */
		.product-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 700;
			line-height: 28.8px;
			letter-spacing: 0.1em;
			text-align: left;
			color: white;
		}
		.product_section{
			height: 680px;
			background-image: url("/products.webp");
			background-size: cover;
		}
		.check{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			color: #FFFFFF;
		}
		.product_description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.modules > li {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.background-effect{
			content: "";
			position: absolute;
			width:100%;
			inset:0;
			top:10%;
		}

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 40px;
                line-height:50.8px;
            }
			.background-effect{
				display:none;
			}
		}
	</style>
	<header class="realtive ">
		<div class="background-effect overflow-hidden">
			<svg width="1348" height="899" viewBox="0 0 1348 899" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.4" filter="url(#filter0_f_344_1138)">
				<path d="M430 250L250 392.055L272.5 521.66L463.5 587.877L627.5 649L868 440.162L832 285.089L587 376.774L430 250Z" fill="#B5DB00"/>
				<path d="M660 250L480 392.055L502.5 521.66L693.5 587.877L857.5 649L1098 440.162L1062 285.089L817 376.774L660 250Z" fill="#006B9E"/>
				</g>
				<defs>
				<filter id="filter0_f_344_1138" x="0" y="0" width="1348" height="899" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
				<feFlood flood-opacity="0" result="BackgroundImageFix"/>
				<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
				<feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_344_1138"/>
				</filter>
				</defs>
			</svg>
		</div>
		<Nav />
		<div class="px-8 lg:px-12 pt-20 lg:pb-0 pb-20 site-title-layer overflow-hidden relative flex items-start relative z-20" >
			<div class="header flex flex-col items-start justify-start lg:border-b-[1.5px] lg:pb-16 border-[#FFFFFF33]">
                <h6 class="service_shrt mb-5 text-center w-full block">
                    PRODUCTS
                </h6>
				<h1 class="home_title text-start">
					<span class="lg:block inline">Empowering Businesses with </span><span class="text-[#B5DB00]">Smart, Reliable Solutions for a Safer</span> Environment Friendly Tomorrow
				</h1>
			</div>
		</div>
		<section class="z-[1] relative">
			<!-- we are a service -->
			<div class="lg:px-12 px-8 pb-28 lg:pt-0 pt-12">
				<div class="inner-layer-innovator grid lg:grid-cols-5 bg-white">
                    {
                        services_data.map((data, dataIndex) => (
                            <div class="px-8 my-8 flex flex-row justify-between relative group overflow-hidden items-center">
                                {/* <div class="services-title z-[20] z-[20]">Application<br> Management</div> */}
                                <img src={ data } alt="services logo" width="80%" height="100%" />
                                {
                                    (dataIndex == 4) ? "" : <div class="h-[28px]"></div>
                                }
                            </div>
                        ))
                    }
				</div>
			</div>

            <!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pb-28 bg-[#000000] lg:pb-0 pb-12">
				<div class="inner-layer-innovator">
                    {
                        services_list.map((data, dataIndex) => (
                            <div class="pl-2 flex lg:flex-row flex-col relative group items-strech bg-white mb-10 overflow-hidden group items-stretch lg:h-[350px]">
                               <div class="flex-none lg:w-[60%] h-full lg:order-first order-last">
                                    <div class="flex-1 lg:min-h-[140px] overflow-hidden relative bg-white px-8 pt-4 transition duration-300 delay-150 hover:mb-0">
                                        <div class="border-b-[1.6px] relative pb-3 z-[10]">
                                            <img src={ data.logo } alt="services logo" width="20%" height="73px" class="transition-width delay-150 duration-500 lg:w-[20%] lg:group-hover:w-[10%] w-[50%]" />
                                        </div>
                                        <div class="product_description lg:text-[#00000099] relative my-4 z-[10]">
                                             { data.description }
                                        </div>
                                        <div class="font-[700] relative text-[16px] lg:text-black leading-[19.2px] pb-2 z-[10]">
                                            { data.modules}
                                        </div>
                                        <div class="z-[10] relative flex lg:flex-row flex-col gap-12">
                                            <ul class="lg:text-[#00000099] modules">
												{
													data.value1.map((value, valIndex) => (
														<li>{ value }</li>
													))
												}
                                            </ul>
											<ul class="lg:text-[#00000099] modules">
												{
													data.value2.map((val, index) => (
														<li>{ val }</li>
													))
												}
                                            </ul>
                                        </div>
                                        <div class="my-5 relative z-[10] lg:opacity-0 lg:translate-y-16 lg:group-hover:opacity-[1] lg:group-hover:translate-y-0 opacity-100 transition duration-500 delay-50 ease-in-out">
                                        	<a href={ data.link }><Cbtn colorbtnText="Learn more" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" /></a>
                                        </div>
                                    </div>
                               </div>
                               <div class="flex-1 relative overflow-hidden scale-[.86] group-hover:scale-[1] transition-width duration-100 delay-150 ease-in-out">
                                    <div class="overflow-hidden bottom-0 text-[#00000099] lg:absolute relative z-[10] transition duration-500 delay-150 ease-in-out overflow-hidden" >
                                        <img src={data.product_image} alt="products" width={ data.width }
										class= { (dataIndex == 0) ? "lg:translate-y-64 lg:group-hover:translate-y-52 translate-y-0 transition duration-500 delay-150" :
											(dataIndex == 1 ) ? "lg:translate-y-36 lg:group-hover:translate-y-24 translate-y-0 transition duration-500 delay-150" :
											(dataIndex == 2 ) ? "lg:translate-y-14 lg:group-hover:translate-y-0 translate-y-0 transition duration-500 delay-150" :
											(dataIndex == 3 ) ? "lg:translate-y-24 lg:group-hover:translate-y-0 translate-y-0 transition duration-500 delay-150" :
											"lg:translate-y-12 lg:group-hover:translate-y-0 translate-y-0 transition duration-500 delay-150"
										}
										 /> 
                                    </div>
									<div class="absolute inset-0 group-hover:scale-[1] transition-width duration-100 delay-150 ease-in-out" style=`background-color: ${data.bgcolor}`>
									</div>
                               </div>   
                            </div>
                        ))
                    }
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

