---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../../form.css"
const currentUrl=Astro.request.url;

const services_data = [ "/product_logo/product_logo1.webp", "/product_logo/product_logo2.webp", "/product_logo/product_logo3.webp", "/product_logo/product_logo6.webp", "/product_logo/product_logo4.webp"];
const services_list= [
    { logo: "/product_logo/product_logo1.webp", width : "85%", bgcolor: "#006B9E",  product_image: "/mobile.webp", description : "A safety app that engages employees to improve safety practices, aiming for zero incidents.", modules : "MODULES", value1 : ["Observation and Intervention (O&I)", "Job Safety Analysis (JSA)", "Risk Assessment"], value2 : ["Safety Walkthrough", "Personal Safety Plan (PSP)", "Incident Notification"] },
    { logo: "/product_logo/product_logo2.webp", width : "100%", bgcolor: "#B5DB00", product_image: "/laptop.webp", description : "A solution for managing environmental data and reports. It helps reduce costs and ensures compliance with environmental regulations.", modules : "BENEFITS", value1 : ["A Useful and Accessible Asset", "Field Tested and Approved"], value2 : [] },
    { logo: "/product_logo/product_logo3.webp", width : "100%", bgcolor: "#006B9E", product_image: "/laptop2.webp", description : "A software for managing the entire permit process, from application to occupancy. ", modules : "BENEFITS", value1 : ["Permit management", "Compliance tracking", "Plant management", "Easy to navigate"], value2 : ["Inspection tracking", "GIS tracking", "Digital data", "Time saver"] },
    { logo: "/product_logo/product_logo6.webp", width : "100%", bgcolor: "#B5DB00", product_image: "/laptop3.webp", description : " LMS e-Connect is a platform that powers eLearning and is used to deliver training courses and educational programs to meet your company’s specific training needs.", modules : "BENEFITS", value1 : ["Cuts Cost", "Accessible Training Content", "Monitor & Assess Progress"], value2 : ["Reduce Learning Time", "Up-to- Date Compliance", " Flexibility"] },
    { logo: "/product_logo/product_logo4.webp", width : "90%", bgcolor: "#006B9E", product_image: "/laptop4.webp", description : "Safe School is designed to implement a technology solution to address the issue of school violence and other suspicious activities in schools.", modules : "BENEFITS", value1 : ["Proactive Approach to School Safety", "Increased Student Awareness of Safety Expectations", "Instant Notifications"], value2 : ["Media Uploading", "Real-time Admin Reports", "Anonymous Reporting to Users"] },
]
---


<Header title="products" canonical={currentUrl}>
	<style>
		body{
			background-color: black;
		}
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            letter-spacing: 0.1em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
			font-size: 57px;
			font-weight: 600;
			line-height: 72px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
            color: white;
		}
		.site-title-layer {
			background-size: cover;
			/* background-color: #000000; */
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

        /* products */
		.product-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 700;
			line-height: 28.8px;
			letter-spacing: 0.1em;
			text-align: left;
			color: white;
		}
		.product_section{
			height: 680px;
			background-image: url("/products.webp");
			background-size: cover;
		}
		.check{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			color: #FFFFFF;
		}
		.product_description{
			font-family: Instrument Sans;
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}
		.modules > li {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.background-effect{
			content: "";
			position: absolute;
			width:100%;
			inset:0;
			top:-65%;
		}

		.safty-title{
			font-family: Instrument Sans;
			font-size: 32px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}
		.safty-description {
			font-family: Instrument Sans;
			font-size: 15.6px;
			font-weight: 400;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.spi-title{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 57.6px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #006B9E;
		}	

		.spi-description {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color:#000000B2;
		}

		.diff-description{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
		}

		.safety-modules{
			font-family: Instrument Sans;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.message{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #000000E5;
		}

		.author{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #000000;
		}

		.message-card{
			background-image: url("/green_card.webp");
			background-size: contain;
			width: 96%;
			height:100%;
			background-repeat: no-repeat;
		}

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 40px;
                line-height:50.8px;
            }
			.background-effect{
				display:none;
			}
		}
	</style>
	<header class="realtive ">
		<Nav />
		<div class="px-8 lg:px-12 pt-32 pb-28 site-title-layer overflow-hidden relative flex items-start relative z-20" >
			<div class="header flex lg:flex-row flex-col overflow-hidden gap-16">
				<div>
					<div class="inline-block bg-white px-2 rounded-[3px] py-1">
						<img src="/product_logo/product_logo1.webp" alt="product logo" width="100px" height="61.45px" />
					</div>
					<h1 class="home_title text-start mt-8 mb-4">
						Welcome to Safe Connect
					</h1>
					<div class="product_description mb-14">
						Our SafeConnect application uses Observation and Intervention to highlight good practices and risks leading to a hazard free workplace when safety practice becomes a habit.
					</div>
					<div class="flex lg:flex-row flex-col gap-5">
						<img src="/appstore/googleplay.webp" width="142.04px" height="47.36px">
						<img src="/appstore/googleplay2.webp" width="142.04px" height="47.36px">
						<Cbtn colorbtnText="Book a call for demo" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
					</div>
				</div>
				<div class="bg-white min-h-[400px] overflow-hidden flex-none lg:w-[35%] rounded-[6px] relative">
					<img src="/mobile.webp" width="90%" height="100%" class="absolute top-12 inset-x-0 left-6" />
				</div>
			</div>
		</div>
		<section class="z-[1] relative">
			<!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-12 relative flex justify-center">
				<div class="inner-layer-innovator flex lg:flex-row flex-col h-screen items-center justify-center w-[92%]">
					<div class="background-effect overflow-hidden">
						<svg width="1238" height="1183" viewBox="0 0 1238 1183" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g opacity="0.4" filter="url(#filter0_f_2491_913)">
							<path d="M406.705 250L250.094 493.167L269.67 715.021L435.852 828.37L578.543 933L787.793 575.515L756.471 310.065L543.305 467.01L406.705 250Z" fill="#B5DB00"/>
							<path d="M606.818 250L450.207 493.167L469.783 715.021L635.966 828.37L778.656 933L987.906 575.515L956.584 310.065L743.418 467.01L606.818 250Z" fill="#006B9E"/>
							</g>
							<defs>
							<filter id="filter0_f_2491_913" x="0.09375" y="0" width="1237.81" height="1183" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
							<feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_2491_913"/>
							</filter>
							</defs>
						</svg>	
					</div>
					<div class="flex-1 self-center">
						<div class="lg:w-[70%]">
							<div class="safty-title pb-4">Behavior-Based Safety</div>
							<div class="safty-description">
								From a young age, we are taught that safety is a learned behavior.  Our SafeConnect application uses Observation and Intervention to highlight good practices and risks leading to a hazard free workplace when safety practice becomes a habit.
							</div>
						</div>
					</div>
					<img class="absolute pb-28 ml-28" src="/floating_laptop.webp" alt="floating laptop" width="426.35px" height="423.75px" />
					<div class="flex-1 self-start flex justify-end">
						<div class="lg:w-[70%]">
							<div class="safty-title pb-4">Safety is paramount</div>
							<div class="safty-description">
								From office environment to construction to manufacturing, many industries are making strides to put safety as their #1 priority.  In fact, the success of your organization depends on it.
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="lg:px-12 px-8 lg:pt-0 pt-12 relative">
				<div class="inner-layer flex lg:flex-row flex-col bg-white pl-16">
					<div>
						<h1 class="spi-title text-start mt-12 mb-4">
							SPI has your solution
						</h1>
						<div class="spi-description mb-8">
							Software Professionals, Inc. has taken the importance of safety and applied that to a business solution product that fits into your organization’s safety culture.  SafeConnect is a web-based and mobile device application that is designed to improve safety performance and drive towards zero incidents.
						</div>
						<div class="mb-12">
							<Cbtn colorbtnText="Book a call for demo" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
						</div>
					</div>
					<div class="bg-white min-h-[350px] overflow-hidden flex-none lg:w-[50%] rounded-[6px] relative">
						<img src="/spi_connection.webp" width="95%" height="100%" class="absolute -top-2 inset-x-0 left-0" />
					</div>
				</div>
			</div>

			<!-- triangle chart -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-12 relative mt-24 flex justify-center">
				<div class="inner-layer flex lg:flex-row flex-col pl-16 lg:w-[90%] gap-20">
					<div class="flex-1">
						<h1 class="safety-modules text-start mt-8 mb-10">
							Safety Modules
						</h1>
						<div class="diff-description">
                            <ul>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Observation and Intervention (O&I)</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Master Data Management</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Human Performance</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Job Safety Analysis (JSA)</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Risk Assessment</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Safety Walkthrough</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Personal Safety Plan (PSP)</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Incident Notification</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Management and Reporting</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Management of Change</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Toolbox Safety Meeting</div>
                                </li>
                            </ul>
                        </div>
					</div>
					<div class="flex-1 flex flex-col items-end">
						<div>
							<h1 class="safety-modules text-start w-full mt-8 mb-10">
								Incident Types
							</h1>
							<img src="/triangle.webp" width="80%" height="100%" class="" />
						</div>
					</div>
				</div>
			</div>

			<!-- donut chart -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-12 relative mt-24 flex justify-center">
				<div class="inner-layer flex lg:flex-row flex-col pl-16 lg:w-[90%] gap-20">
					<div class="flex-1 flex flex-col items-end">
						<div>
							<h1 class="safety-modules text-start w-full mt-8 mb-10">
								Types Of Observations
							</h1>
							<img src="/donut_chart.webp" width="80%" height="100%" class="" />
						</div>
					</div>
					<div class="flex-1">
						<h1 class="safety-modules text-start mt-8 mb-10">
							Software Features
						</h1>
						<div class="diff-description">
                            <ul>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Data Analytics – Dashboard</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Language translation</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Picture and video uploading</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Offline capabilities</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Customizable Forms</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Instant Notifications</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Links to regulatory information</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Weather Alerts – Location based</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Consistency in Reporting</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>User friendly experience</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Location-based services</div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>

			<!-- green card -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-12 pb-20 relative mt-24 flex justify-center message-card">
				<div class="inner-layer flex lg:flex-row flex-col pl-16 gap-20 py-12 items-center">
					<div>
						<div class="message mb-3">
							“It is paramount for ALL  employees to be safety  champions at their  organization in an effort to  keep themselves and everyone  around them safe and sound  before going home.”
						</div>
						<div class="author">
							-Reena Batra, CEO
						</div>
					</div>
					<div class="flex-none w-[20%]">
						<img src="/product_logo/product_logo1.webp" alt="product logo" width="100%" height="61.45px" />
					</div>
				</div>
			</div>

			<!-- donut chart -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-12 relative mt-24 flex justify-center">
				<div class="inner-layer flex lg:flex-row flex-col pl-16 lg:w-[90%] gap-20">
					<div class="flex-1 flex flex-col items-end">
						<div>
							<h1 class="safety-modules text-start w-full mt-8 mb-10">
								Types Of Observations
							</h1>
							<img src="/donut_chart.webp" width="80%" height="100%" class="" />
						</div>
					</div>
					<div class="flex-1">
						<h1 class="safety-modules text-start mt-8 mb-10">
							Software Features
						</h1> 
						<div class="diff-description">
                            <ul>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Data Analytics – Dashboard</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Language translation</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Picture and video uploading</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Offline capabilities</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Customizable Forms</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Instant Notifications</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Links to regulatory information</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Weather Alerts – Location based</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Consistency in Reporting</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>User friendly experience</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Location-based services</div>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>

