---
import Header from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Cbtn from "@components/button/Cbtn.astro"
import Footer from "@components/Footer.astro"
import "../../form.css"
import Web3Forms from "@components/Forms/Web3Forms.astro";
const currentUrl=Astro.request.url;
---


<Header title="products" canonical={currentUrl}>
	<style>
		body{
			background-color: #141414;
		}
        .service_shrt {
            font-family: Instrument Sans;
            font-size: 14px;
            font-weight: 500;
            line-height: 22.4px;
            letter-spacing: 0.1em;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #FFFFFFCC;
        }
		.home_title{
			font-family: Instrument Sans;
			font-size: 57px;
			font-weight: 600;
			line-height: 72px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
            color: white;
		}
		.site-title-layer {
			background-size: cover;
			/* background-color: #000000; */
		}
		.home_description{
			font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
			color: #FFFFFFCC;
		}
		.contract{
			font-family: Instrument Sans;
			font-size: 18px;
			font-weight: 500;
			line-height: 20px;
			text-align: left;
			color: #000000CC;
		}

        /* services */
        .services{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 48px;
			letter-spacing: -0.03em;
			text-align: left;
			color: #000000;
		}
		.services-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 500;
			line-height: 38.4px;
			text-align: left;
		}
		.services-description{
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}

        /* products */
		.product-title{
			font-family: Instrument Sans;
			font-size: 24px;
			font-weight: 700;
			line-height: 28.8px;
			letter-spacing: 0.1em;
			text-align: left;
			color: white;
		}
		.product_section{
			height: 680px;
			background-image: url("/products.webp");
			background-size: cover;
		}
		.check{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			color: #FFFFFF;
		}
		.product_description{
			font-family: Instrument Sans;
			font-size: 20px;
			font-weight: 500;
			line-height: 32px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}
		.modules > li {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 24px;
			text-align: left;
		}
		.background-effect{
			content: "";
			position: absolute;
			width:100%;
			inset:0;
			top:-65%;
		}

		.background-effect2{
			content: "";
			position: absolute;
			width:100%;
			inset:0;
			top:10%;
			left:10%
		}

		.safty-title{
			font-family: Instrument Sans;
			font-size: 32px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}
		.safty-description {
			font-family: Instrument Sans;
			font-size: 15.6px;
			font-weight: 400;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.spi-title{
			font-family: Instrument Sans;
			font-size: 40px;
			font-weight: 600;
			line-height: 57.6px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #006B9E;
		}	

		.spi-description {
			font-family: Instrument Sans;
			font-size: 15px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color:#000000B2;
		}

		.diff-description{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			color: #FFFFFFCC;
		}

		.safety-modules{
			font-family: Instrument Sans;
			font-size: 36px;
			font-weight: 600;
			line-height: 43.2px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.message{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #000000E5;
		}

		.author{
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 600;
			line-height: 19.52px;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #000000;
		}

		.message-card{
			background-image: url("/green_card.webp");
			background-size: 100% 100%;
			width: 96%;
			height:100%;
			background-repeat: no-repeat;
		}

		.valuable-title{
			font-family: Instrument Sans;
			font-size: 44px;
			font-weight: 600;
			line-height: 53.68px;
			text-align: center;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
		}

		.valuable-description {
			font-family: Instrument Sans;
			font-size: 16px;
			font-weight: 500;
			line-height: 25.6px;
			text-align: center;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #000000B2;
		}

		.browchurs_title{
			font-family: Instrument Sans;
			font-size: 20px;
			font-weight: 400;
			line-height: 24.4px;
			text-align: center;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #444444;
		}
		
		.safety-text{
			font-family: Instrument Sans;
			font-size: 30px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: -0.03em;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: white;
		}

		.diff-safe{
			font-family: Instrument Sans;
			font-size: 30px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: -0.03em;
			text-align: left;
			text-underline-position: from-font;
			text-decoration-skip-ink: none;
			color: #FFFFFF;
		}

		.bottom-message{
			font-family: Instrument Sans;
            font-size: 36px;
            font-weight: 600;
            line-height: 43.92px;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
			color: #050505;
		}

		.saft_connect-logo{
			max-width:80%
		}

		.map{
			max-width: 80%;
		}

		.color-box{
			max-width: 95%;
		}
        .small_message{
            font-family: Instrument Sans;
            font-size: 18px;
            font-weight: 500;
            line-height: 28.8px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #000000E5;
        }

        .fancy-lap{
            width: 90%;
        }

		@media (max-width: 600px) {
			.post{
				width: 100%;
			}
			.post_title{
				font-size: 24px;
			}
			.blogs-title{
				font-size: 32px;
			}
			.blogMain{
				background-color: #292d6b;
				color: white;
			}
			.site-title-layer::before{
				height: 435px;
			}
            .home_title{
                font-size: 40px;
                line-height:50.8px;
            }
			.background-effect{
				display:none;
			}
			.safety-modules{
				font-size: 30px;
			}

			.saft_connect-logo{
				max-width:50%
			}
			.message-card {
				background-image: none;
				background-color: #B5DB00;
			}
			.background-effect2{
				left:0;
			}
			.map{
				max-width: 100%;
			}
			.color-box{
				max-width: 100%;
			}
			.bottom-message{
				font-size: 30px;
				line-height: 36px;
			}
			.spi-title{
				font-size:35px;
				line-height: 46.6px;
			}
            .fancy-lap{
            width: 100%;
        }
		}
	</style>
	<header class="realtive ">
		<Nav />
		<div class="px-8 lg:px-12 pt-32 lg:pb-32 pb-12 site-title-layer overflow-hidden relative flex items-start relative z-20" >
			<div class="header flex lg:flex-row flex-col overflow-hidden gap-16">
				<div>
					<div class="inline-block bg-white px-4 rounded-[3px] py-1">
						<img src="/product_logo/product_logo4.webp" alt="product logo" width="120px" height="61.45px" />
					</div>
					<h1 class="home_title text-start mt-8 mb-4">
						Welcome to Safe School
					</h1>
					<div class="product_description mb-14">
                        Safe School is designed to meet the urgent need to implement a technology solution that addresses the issue of school violence and other suspicious activities on school campuses.
					</div>
					<div class="flex lg:flex-row flex-col gap-5">
						<img src="/appstore/googleplay.webp" width="142.04px" height="47.36px">
						<img src="/appstore/googleplay2.webp" width="142.04px" height="47.36px">
						<Cbtn colorbtnText="Book a call for demo" classname="brand-button" bgcolor="#B5DB00" textColor="black" cursor="pointer" display="block" />
					</div>
				</div>
				<div class="bg-white min-h-[400px] overflow-hidden flex justify-center items-center flex-none lg:w-[35%] rounded-[6px] relative">
					<img src="/safe-school/mobile.webp" width="35%" height="100%" />
				</div>
			</div>
		</div>
		<section class="relative">
			<Web3Forms textColor="black" bgColor="white" />
			<!-- we are a service -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-12 relative flex justify-center">
				<div class="inner-layer-innovator flex lg:flex-row flex-col h-screen items-center justify-center w-[92%]">
					<div class="background-effect overflow-hidden">
						<svg width="1238" height="1183" viewBox="0 0 1238 1183" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g opacity="0.4" filter="url(#filter0_f_2491_913)">
							<path d="M406.705 250L250.094 493.167L269.67 715.021L435.852 828.37L578.543 933L787.793 575.515L756.471 310.065L543.305 467.01L406.705 250Z" fill="#B5DB00"/>
							<path d="M606.818 250L450.207 493.167L469.783 715.021L635.966 828.37L778.656 933L987.906 575.515L956.584 310.065L743.418 467.01L606.818 250Z" fill="#006B9E"/>
							</g>
							<defs>
							<filter id="filter0_f_2491_913" x="0.09375" y="0" width="1237.81" height="1183" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
							<feFlood flood-opacity="0" result="BackgroundImageFix"/>
							<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
							<feGaussianBlur stdDeviation="125" result="effect1_foregroundBlur_2491_913"/>
							</filter>
							</defs>
						</svg>	
					</div>
					<div class="flex-1 self-center">
						<div class="lg:w-[70%]">
							<div class="safty-title pb-4">SPI has your solution</div>
							<div class="safty-description lg:pb-0 pb-12">
                                Safe School is designed to implement a technology solution to address the issue of school violence and other suspicious activities in schools. We understand that students desire a safe learning environment and a way to be involved in maintaining that status. Our app will allow students a secure way to inform faculty and law enforcement with real time notifications.
							</div>
						</div>
					</div>
					<img class="lg:absolute lg:pb-28 pb-10 lg:ml-28" src="/safe-school/laptop.webp" alt="floating laptop" width="426.35px" height="423.75px" />
					<div class="flex-1 self-start flex justify-end">
						<div class="lg:w-[70%]">
							<div class="safty-title pb-4">Proactive Approach</div>
							<div class="safty-description">
                                Addressing the need for the use of digital technology to prevent attacks is what will empower students and staff to be proactive in their environment.
							</div>
						</div>
					</div>
				</div>
			</div>
            
			<!-- green card -->
			<div class="lg:pt-0 lg:px-20 pb-12 px-8 pt-20 relative flex justify-center bg-[tranparent]">
				<div class="inner-layer flex w-full lg:flex-row flex-col lg:px-0 lg:pl-16 px-10 lg:gap-20 lg:py-6 py-12 items-center bg-[#B5DB00]">
					<div>
                        <div class="small_message lg:pb-2 pb-12">A Technology Solution for Reporting Suspicious Activity on Campus</div>
						<div class="bottom-message lg:mb-3 mb-0 text-center">
							"All Accidents are Preventable"
						</div>
					</div>
					<div class="flex-1 flex lg:justify-end lg:px-20 lg:order-last order-first">
						<img src="/product_logo/product_logo4.webp" alt="product logo" width="100%" height="61.45px" />
					</div>
				</div>
			</div>

            <!-- triangle chart -->
			<div class="lg:px-12 px-8 lg:pt-0 pt-16 relative lg:my-24 flex justify-center">
				<div class="inner-layer flex lg:flex-row flex-col lg:pl-16 lg:w-[90%] lg:gap-20 rounded-[4px]">
					<div class="flex-1">
						<h1 class="safety-modules text-start mb-10">
							Key Features
						</h1>
						<div class="diff-description">
                            <ul>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Real Time Notification</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div> Location-based Services</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Picture & Video Uploading</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div> User Friendly</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Customizable</div>
                                </li>
                                <li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Instant Admin Reports</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div>Ease of use</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div> Increased awareness of school safety expectations</div>
                                </li>
								<li class="flex items-start gap-3 pb-2">
                                    <img src="/svg/list.svg" class="pt-[6px]" alt="bullet list" width="12" height="12" />
                                    <div> Gives students and faculty a proactive approach to keeping school safe</div>
                                </li>
                            </ul>
                        </div>
					</div>
					<div class="flex-1 flex flex-col items-end lg:order-last order-first">
						<div class="lg:mb-0 mb-12">
							<img src="/safe-school/fancy_laptop.webp" width="90%" height="100%" class="fancy-lap" />
						</div>
					</div>
				</div>
			</div>

			<!-- green card -->
			<div class="lg:pt-0 lg:px-20 pb-32 px-8 pt-20 relative lg:mt-24 flex justify-center">
				<div class="inner-layer flex w-full lg:flex-row flex-col lg:px-0 lg:pl-16 px-10 lg:gap-20 lg:py-6 py-12 items-center bg-[#B5DB00]">
					<div>
						<div class="bottom-message mb-3 lg:mt-0 mt-12">
							Scan the code to see the app<br> in action
						</div>
					</div>
					<div class="flex-1 flex lg:justify-end lg:px-20 lg:order-last order-first">
						<img src="/code.webp" alt="product logo" width="50%" height="61.45px" />
					</div>
				</div>
			</div>
			
			<Footer />
		</section>
	</header>
	<main>

	</main>
</Header>
<script>
    var com_form = document.querySelector("#enquire_form"),
		sidebox_D = document.querySelector(".sidebox_D"),
        kytz_label = document.querySelector(".kytz-label"),
        w3form = document.getElementById("w3form");
        brand_btn = document.querySelectorAll(".brand-button"),
        form_close = document.querySelector(".kytz_form_close"),
        myform = document.querySelector("#enquire_main_form");
    var emailerr = document.querySelector("#email_err"),
        usererror = document.querySelector("#username_err"),
        mobilerror = document.querySelector("#mobile_err"),
        messageerror = document.querySelector("#message_err");
    function enquire_form() {
        var e = document.getElementById("Kname"),
            r = document.getElementById("Kemail"),
            n = document.getElementById("Knumber"),
            t = document.getElementById("Kmessage"),
            i = document.getElementById("submitbtn"),
            l = document.getElementById("message");
        function o() {
            var r = document.querySelector("#username_err"),
                n = e.value,
                t = /^[a-zA-Z\s]+$/.test(n);
            return e.value ? (e.value.length < 4 ? ((r.innerHTML = "username length is too short"), !1) : t ? ((r.innerHTML = ""), !0) : ((r.innerHTML = "username should be a-z ,A-Z only"), !1)) : ((r.innerHTML = "field required"), !1);
        }
        function s() {
            var e = document.querySelector("#email_err"),
                n = r.value,
                t = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/.test(n);
            return "" == n ? ((e.innerHTML = "required field"), !1) : t ? ((e.innerHTML = ""), !0) : ((e.innerHTML = "invalid email"), !1);
        }
        function a() {
            var e,
                r = document.querySelector("#mobile_err");
            return n.value ? (!isNaN(parseFloat((e = n.value))) && isFinite(e) ? ((r.innerHTML = ""), !0) : ((r.innerHTML = "only number is allowed"), !1)) : ((r.innerHTML = "field required"), !1);
        }
        function m() {
            var e = document.querySelector("#message_err");
            return t.value ? ((e.innerHTML = ""), !0) : ((e.innerHTML = "field required"), !1);
        }
        e.addEventListener("input", () => {
            o();
        }),
            r.addEventListener("input", () => {
                s();
            }),
            n.addEventListener("input", () => {
                a();
            }),
            t.addEventListener("input", () => {
                m();
            }),
            (i.onclick = (e) => {
                if ((e.preventDefault(), o() || s() || a() || m())) {
                    if (o() && s() && a() && m()) {
                        l.innerHTML = "";
                        let r = document.querySelector(".enquire_contact_form"),
                            n = document.getElementById("enquire_form"),
                            t = document.getElementById("w3form"),
                            u = document.querySelector(".enquire_thnkmss");
                        i.innerHTML = "<div class='animate-pulse'>processing...</div>";
                        let c = new FormData(t),
                            d = {};
                        c.forEach((e, r) => {
                            d[r] ? (Array.isArray(d[r]) ? d[r].push(e) : (d[r] = [d[r], e])) : (d[r] = e);
                        });
                        let y = JSON.stringify(d);
                        console.log(y),
                            fetch("https://api.web3forms.com/submit", { method: "POST", headers: { "Content-Type": "application/json", Accept: "application/json" }, body: y })
                                .then(async (e) => {
                                    let n = await e.json();
                                    200 == e.status ? ((i.innerHTML = "submit"), (r.style.display = "none"), (u.style.display = "block")) : (console.log(e), (i.innerHTML = n.message));
                                })
                                .catch((e) => {
                                    console.log(e), (i.innerHTML = "Something went wrong!");
                                })
                                .then(function () {
                                    t.reset(),
                                        setTimeout(() => {
                                            (u.style.display = "none"), (r.style.display = "block"), (n.style.display = "none");
                                        }, 5e3);
                                });
                    } else l.innerHTML = '<div class="alert alert-warning">Please fill all required field</div>';
                } else l.innerHTML = '<div class="alert alert-warning">Please fill all required field</div>';
            });
    }
    document.addEventListener("DOMContentLoaded", function () {
        w3form.reset(), "scrollRestoration" in history && (history.scrollRestoration = "manual");
    }),
	brand_btn.forEach((e, r) => {
		e.onclick = () => {
			(com_form.style.display = "flex"), (usererror.innerHTML = ""), (emailerr.innerHTML = ""), (mobilerror.innerHTML = ""), (messageerror.innerHTML = "");
		};
	}),
	(form_close.onclick = () => {
		(com_form.style.display = "none"), w3form.reset(), (usererror.innerHTML = ""), (emailerr.innerHTML = ""), (mobilerror.innerHTML = ""), (messageerror.innerHTML = "");
	}),
	(window.onclick = (e) => { 
		e.target === com_form && ((com_form.style.display = "none"), w3form.reset());
		e.target === sidebox_D && ((sidebox_D.style.display = "none"));
		e.target === kytz_label && ((sidebox_D.style.display = "flex"));
	})
	enquire_form();
</script>

