---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

	* {
		font-family: "Instrument Sans", sans-serif;
	}
	h1{
		font-family: Instrument Sans;
		font-size: 44px;
		font-weight: 600;
		line-height: 52.8px;
		letter-spacing: -0.03em;
		text-align: left;
		color: #FFFFFF;
	}
	.h6 {
		font-family: Instrument Sans;
		font-size: 18px;
		font-weight: 500;
		line-height: 28.8px;
		text-align: left;
		color: #FFFFFF;
	}
</style>
